{
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "trailingComma": "none"
            }
        },
        {
            "files": "*.jsonc",
            "options": {
                "trailingComma": "none"
            }
        }
    ]
}
